#Ignore build directories
bin/*
obj/*
bld/*
[Bb]in*/
obj*/
[Dd]ebug*/
[Rr]elease*/

# Ignore Visual Studio files
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc

#Include binaries (build tools etc.)
!*.exe
!*.pdb
!*.msi
!*.tlb
!*.dll

#Other
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.shfbproj_*
Doc\Help
.metadata/*
.vs/
artifacts/
.fake/
build.fsx.lock
build/
artifact/
packages/
src/app/DriverTool/Libs/Client.dll
src/app/DriverTool/Libs/Common.dll
src/app/DriverTool/Libs/Core.dll
_NCrunch_DriverTool/
