#Ignore build directories
bin/*
obj/*
bld/*
[Bb]in*/
obj*/
[Dd]ebug*/
[Rr]elease*/

# Ignore Visual Studio files
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc

#Include binaries (build tools etc.)
!*.exe
!*.pdb
!*.msi
!*.tlb
!*.dll

#Other
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.shfbproj_*
Doc\Help
.metadata/*
.vs/
artifacts/
.fake/
build.fsx.lock
build/
artifact/
src/app/DriverTool/PackageTemplate/Drivers/[0-9]*
packages/
src/app/DriverTool/Libs/SecureBlackbox.SSLCommon.dll
src/app/DriverTool/Libs/SecureBlackbox.SSLClient.dll
src/app/DriverTool/Libs/SecureBlackbox.PGP.dll
src/app/DriverTool/Libs/SecureBlackbox.LDAP.dll
src/app/DriverTool/Libs/UNCObject.dll
src/app/DriverTool/Libs/TvsuServiceCommon.dll
src/app/DriverTool/Libs/Lenovo.CertificateValidation.dll
src/app/DriverTool/Libs/Common.dll
src/app/DriverTool/Libs/Client.dll
src/app/DriverTool/Libs/SocksSSLConnector.dll
src/app/DriverTool/Libs/SecureBlackbox.dll
src/app/DriverTool/Libs/SecureBlackbox.XMLSecurity.dll
src/app/DriverTool/Libs/SecureBlackbox.XML.dll
src/app/DriverTool/Libs/SecureBlackbox.HTTPCommon.dll
src/app/DriverTool/Libs/SecureBlackbox.HTTP.dll
src/app/DriverTool/Libs/Lenovo.QualityStats.dll
src/app/DriverTool/Libs/Lenovo.QualityStats.Repo3.dll
src/app/DriverTool/Libs/Core.dll
_NCrunch_DriverTool/StoredText/52160a6257ee4c35b54bcefb3823c135
_NCrunch_DriverTool/
src/app/DriverTool.x86.Host/Libs/Client.dll
src/app/DriverTool.x86.Host/Libs/Common.dll
src/app/DriverTool.x86.Host/Libs/FSharp.Data.DesignTime.dll
src/app/DriverTool/Libs/DriverTool.Library.dll
