#Ignore build directories
bin/*
obj/*
bld/*
[Bb]in*/
obj*/
[Dd]ebug*/
[Rr]elease*/

# Ignore Visual Studio files
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc

#Include binaries (build tools etc.)
!*.exe
!*.pdb
!*.msi
!*.tlb
!*.dll

#Other
.fake/*
.vs/*
build/
artifact/
packages/
_NCrunch_DriverTool/*
build.fsx.lock
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
.ionide
modules/DriverTool.PowerCLI/internal/tools/DriverTool/

.fake
artifacts/
