<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net472" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net452" />
  <package id="FSharp.Collections.ParallelSeq" version="1.1.2" targetFramework="net452" />
  <package id="FSharp.Configuration" version="1.5.0" targetFramework="net452" />
  <package id="FSharp.Control.Reactive" version="4.2.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net472" />
  <package id="FSharp.Data" version="3.1.1" targetFramework="net472" />
  <package id="FSharp.Interop.Dynamic" version="4.0.3.130" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="NCmdLiner" version="2.0.18110.340" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="sdpeval" version="1.0.19114.2" targetFramework="net472" />
  <package id="System.Management" version="4.5.0" targetFramework="net452" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>