<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IToolService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DriverTool.x86.Service/ToolService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IToolService"
                contract="ToolServiceReference.IToolService" name="WSHttpBinding_IToolService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>