<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DriverTool.Messages" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <appSettings></appSettings>
  <DriverTool.Messages>
    <add key="LogDirectoryPath" value="%public%\Logs\DriverTool.Messages" />
    <add key="LogFileName" value="DriverTool.Messages.%USERNAME%.log" />
    <!--LogLevel: Trace|Debug|Info|Warn|Error|Fatal -->
    <add key="LogLevel" value="Info" />
  </DriverTool.Messages>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Serilog.SerilogFactoryAdapter, Common.Logging.Serilog" />
    </logging>
  </common>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>